# Analysis writeup revisited

Author: Luis Eduardo San Martin

This writeup is a revision of the former analysis writeup I submitted for assignment 3.

## The problem

Once you've set up the improved pipeline, you should apply it to solve the following problem:

The problem is to predict if a project on donorschoose will not get fully funded within 60 days of posting. This prediction is being done at the time of posting so you can only use data available to you at that time. The data is a file that has one row for each project posted with a column for "date_posted" (the date the project was posted) and a column for "datefullyfunded" (the date the project was fully funded - assumption for this assignment is that all projects were fully funded eventually). The task is to predict if a project on donorschoose will not get fully funded within 60 days of posting.

The data spans Jan 1, 2012 to Dec 31, 2013. You should have your validation/test set be a rolling window of 6 months (which should give you three test sets). The training sets should be everything from 1/1/12 to the beginning of the test set.

The code should produce a table with results across train test splits over time and performance metrics (baseline, precision and recall at different thresholds 1%, 2%, 5%, 10%, 20%, 30%, 50% and AUC_ROC)

## My (new) solution

For this solution, I'll rely on the functions I wrote for my Machine Learning pipeline.

### Reading the data

In [1]:
%load_ext autoreload
%autoreload 2
import pipeline

In [2]:
df = pipeline.read('data/projects_2012_2013.csv')
df

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_metro,school_district,...,secondary_focus_subject,secondary_focus_area,resource_type,poverty_level,grade_level,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,date_posted,datefullyfunded
0,00001ccc0e81598c4bd86bacb94d7acb,96963218e74e10c3764a5cfb153e6fea,9f3f9f2c2da7edda5648ccd10554ed8c,1.709930e+11,41.807654,-87.673257,Chicago,IL,urban,Pershing Elem Network,...,Visual Arts,Music & The Arts,Supplies,highest poverty,Grades PreK-2,1498.61,31.0,f,4/14/13,5/2/13
1,0000fa3aa8f6649abab23615b546016d,2a578595fe351e7fce057e048c409b18,3432ed3d4466fac2f2ead83ab354e333,6.409801e+10,34.296596,-119.296596,Ventura,CA,urban,Ventura Unif School District,...,Literature & Writing,Literacy & Language,Books,highest poverty,Grades 3-5,282.47,28.0,t,4/7/12,4/18/12
2,000134f07d4b30140d63262c871748ff,26bd60377bdbffb53a644a16c5308e82,dc8dcb501c3b2bb0b10e9c6ee2cd8afd,6.227100e+10,34.078625,-118.257834,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,Social Sciences,History & Civics,Technology,high poverty,Grades 3-5,1012.38,56.0,f,1/30/12,4/15/12
3,0001f2d0b3827bba67cdbeaa248b832d,15d900805d9d716c051c671827109f45,8bea7e8c6e4279fca6276128db89292e,3.600090e+11,40.687286,-73.988217,Brooklyn,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Books,high poverty,Grades PreK-2,175.33,23.0,f,10/11/12,12/5/12
4,0004536db996ba697ca72c9e058bfe69,400f8b82bb0143f6a40b217a517fe311,fbdefab6fe41e12c55886c610c110753,3.606870e+11,40.793018,-73.205635,Central Islip,NY,suburban,Central Islip Union Free SD,...,Literature & Writing,Literacy & Language,Technology,high poverty,Grades PreK-2,3591.11,150.0,f,1/8/13,3/25/13
5,00049ec8ca1f2d08cb13cab31b0b85ec,7149611553c700de9a6099f8a9ce598b,462a5fd93cf9fb5d41eecfd2ea860b19,2.621150e+11,42.740157,-84.525821,Lansing,MI,urban,Lansing School District,...,NaN,NaN,Other,highest poverty,Grades 3-5,475.85,15.0,f,11/30/12,2/26/13
6,0004d2fdbb571237fa53a97e7691440b,926671e209fb977bd5123145c1848ad1,1a994778027ab086dc58ec3b47f74ff0,4.047200e+10,33.059361,-112.037727,Maricopa,AZ,rural,Maricopa Unif Sch District 20,...,NaN,NaN,Supplies,high poverty,Grades 3-5,390.65,37.0,f,3/26/13,4/17/13
7,0004ee26667e751dd51384eb9f30c72e,abe4dabb7864f4c548d230cf9070e03f,8409f70bcd81bc06e4b9efca68eed8f6,6.280501e+10,37.761958,-122.193209,Oakland,CA,urban,Oakland Unified School Dist,...,NaN,NaN,Books,highest poverty,Grades 9-12,3877.20,30.0,f,2/28/13,3/10/13
8,0006a31d45f8d52d217e7c5b55c11f37,3b5fada1ad0e339acc669829071320c4,c6a033f9349ea70659c1891b119680ed,2.307320e+11,44.096641,-70.191734,Lewiston,ME,urban,Lewiston Public Schools,...,NaN,NaN,Technology,high poverty,Grades 3-5,838.75,25.0,f,8/21/13,9/13/13
9,0008ac907bf237a15a959244205d3ee5,92527a5ac5fe946ed1961fb2e1de8cc5,23e34f5d2e2940684269cffe35741598,6.271800e+10,34.381832,-118.531837,Newhall,CA,suburban,Newhall School District,...,Literacy,Literacy & Language,Technology,highest poverty,Grades PreK-2,1477.44,24.0,f,10/3/12,11/3/12
10,0009bc936fed4728d5fd86d92ee3cec1,66b77e507a30a5fbbcb4f7631c5ccc75,af67655269d03992889a8db7fe0cf83d,6.072000e+10,37.263773,-121.996427,Saratoga,CA,suburban,Campbell Union School District,...,Literacy,Literacy & Language,Other,low poverty,Grades 3-5,194.11,25.0,f,7/29/13,11/26/13
11,000a6dcbb21ec643daf74ed28991d29c,93e0a37fca3cd7c9c32a535673c48af4,7e28905e0126e37d9b747e92c5fcf44d,2.926850e+11,38.535275,-90.464493,Fenton,MO,suburban,Rockwood School District R6,...,NaN,NaN,Other,moderate poverty,Grades 3-5,714.22,25.0,f,6/22/13,10/17/13
12,000a981e6bd61c489bbebc237f7b6a0d,a886a532c21f83b0c30571208636dc0e,c995de8108ac314637e1c869f81af766,1.709930e+11,41.922711,-87.692965,Chicago,IL,urban,Fullerton Elem Network,...,NaN,NaN,Supplies,highest poverty,Grades PreK-2,523.27,700.0,f,1/22/13,2/28/13
13,000b238b8c85214d58683b13398fd058,439f1e081199a89540cbf69866cfd182,685d2471561270abe3820d947fbbe3e9,6.225000e+10,33.773256,-118.183848,Long Beach,CA,urban,Long Beach Unified School Dist,...,Gym & Fitness,Health & Sports,Supplies,highest poverty,Grades PreK-2,1108.94,809.0,f,10/27/13,11/29/13
14,000b574223b4f491c7de7bccae88b51d,5003eacb7e6311d01177c275c633768a,87e515cc802d93213adfb963ef8de30e,3.600090e+11,40.813916,-73.900522,Bronx,NY,urban,New York City Dept Of Ed,...,NaN,NaN,Books,highest poverty,Grades PreK-2,677.73,24.0,t,5/28/13,9/6/13
15,000bab2056ba84931f4f5bc72f542e03,10d2de84406c94967bb0f01f57ba980f,d0318b91338cd9dd6f18202eebe7c9c2,NaN,30.013238,-81.391606,St Augustine,FL,suburban,St Johns Co School District,...,Literature & Writing,Literacy & Language,Books,moderate poverty,Grades PreK-2,165.75,18.0,f,12/9/12,1/22/13
16,000be0b57987d6c29d650a88eac2961b,ae7b6b599922817b2e0cb9f96354297e,922a11f9ab72afebccf5b9391191e1bd,2.102490e+11,37.803213,-85.987333,Vine Grove,KY,suburban,Hardin Co School District,...,Health & Life Science,Math & Science,Supplies,high poverty,Grades 6-8,481.18,120.0,f,1/26/12,5/17/12
17,000d3ead6b648ba31043bb6376e6342d,3dd9af5310c77541f5b65cf190cec338,8018b1c81de3aede5363afabcf32b17c,4.088000e+10,32.228378,-110.963287,Tucson,AZ,urban,Tucson Unified School Dist,...,NaN,NaN,Other,high poverty,Grades PreK-2,265.13,53.0,f,1/15/13,3/11/13
18,000e6a13fd69bf0e426403b1d5da0e99,1ad348085983de6a0f1fe6a37779f7f2,82571bc4db2e4cd846e3c50eeceeb176,6.227100e+10,34.182137,-118.424728,Van Nuys,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Books,highest poverty,Grades 3-5,296.68,30.0,t,1/23/12,2/20/12
19,000e964b1e5c911adf700736c43e8f85,27076f8d0ec597bfd5035ef84d6691b0,3870254e36f88935745384ebc06a4caf,1.300120e+11,33.752884,-84.342140,Atlanta,GA,urban,Atlanta Public Schools,...,Mathematics,Math & Science,Supplies,highest poverty,Grades 3-5,1098.39,39.0,f,12/22/12,1/12/13
20,000faa31e276e9e649360949207fa00c,86403b5f04ed07201cd04184ff4c0ced,c86d87fee34b13377658337fa8bf2fc5,2.931440e+11,38.367966,-92.477882,Ft Leonard Wd,MO,NaN,Waynesville School Dist R6,...,NaN,NaN,Technology,high poverty,Grades 3-5,632.13,25.0,f,12/18/12,1/6/13
21,0010040593d5e9699ee45834369ec817,1871e44279646e8d18fa74d29dcfc456,83b74057d63f2da28f3635efeffd61a1,1.707650e+11,40.456921,-88.137198,Paxton,IL,NaN,Paxton-buckley-loda Cusd 10,...,NaN,NaN,Supplies,moderate poverty,Grades 9-12,221.56,100.0,t,9/4/13,10/27/13
22,00103b0614e31016e5c4cc7d405bbc51,9e4433fb2d3078bc4dcbe2860d05ebf5,b22babfd8fbdfa6b53e4747b74da02dd,4.835850e+11,33.183766,-96.494366,Princeton,TX,NaN,Princeton Ind School Dist,...,NaN,NaN,Supplies,highest poverty,Grades 3-5,1125.40,660.0,f,12/10/13,4/2/14
23,00105edf14ebb7f146d6ba2098639bb1,ac1ef23232ddd1597f6fa5b28a171fa5,33b6121da948b2fd67fd78f5935eb793,6.261900e+10,34.050485,-118.020442,El Monte,CA,suburban,Mountain View School District-Los Angeles,...,Special Needs,Special Needs,Technology,highest poverty,Grades PreK-2,2130.40,30.0,f,4/29/12,7/16/12
24,001096473792e89ccc83e9f6ab01871b,e21c4208e61018ed35aa2bcc392a2d40,7fdffcfd5bea8e0fc99952254a875a72,1.200870e+11,28.155807,-82.532195,Lutz,FL,suburban,Hillsborough Co Pub Sch Dist,...,NaN,NaN,Technology,low poverty,Grades PreK-2,715.67,17.0,f,11/19/13,12/19/13
25,00134d14226ef613134712c54211f754,5bce35e3991721b665d33095e9d3aa31,9b62c64683b7c3212f159e13eb41ff5c,1.812720e+11,39.920792,-86.142952,Indianapolis,IN,urban,Washington Township Sch Dist,...,NaN,NaN,Books,highest poverty,Grades PreK-2,518.22,27.0,f,3/31/12,7/27/12
26,00136585c0e4a67afaa964403cf9f45b,402cfc6b73dc62f44946bc1c381f6b1c,0793efaeba83d8b5b9d55f5772fac62d,NaN,35.906952,-77.540756,Tarboro,NC,rural,North Carolina Dept of Ed,...,NaN,NaN,Books,high poverty,Grades 6-8,350.69,50.0,f,5/30/12,8/5/12
27,0013a402fb4cf84e3d60d7a59566dff8,511ec2a1372cd7b9e1af86b1b3de8bff,dbde53d7dbafbbb22ca60f36bb0019a5,6.227101e+10,34.227558,-118.499130,North Hills,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Technology,highest poverty,Grades 3-5,836.34,29.0,f,1/21/12,3/1/12
28,001468d419e1ee737f364013334d0c84,ca8d614f79013690baf1a8860be4b754,4157e4e610804d738f2d1a450d36dd3f,1.200180e+11,26.240857,-80.165433,Pompano Beach,FL,urban,Broward Co Public Schools,...,Special Needs,Special Needs,Supplies,highest poverty,Grades 3-5,281.95,60.0,f,8/7/12,9/19/12
29,0014cedcb2d697902c15081ab12deadf,b9e31d1b986c0cf802c9e13869b86cef,1d74e61c912fe4527eb57ac456bcac8a,3.600090e+11,40.837411,-73.854644,Bronx,NY,urban,New York City Dept Of Ed,...,Early Development,Applied Learning,Technology,highest poverty,Grades PreK-2,371.81,30.0,f,9/22/13,12/5/13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124946,fff008ba1051b272f9e5218b1c125169,4999b5d89891ff2279c63e8f529f00ea,8803e5495d05529e09083007ac95f58b,4.808090e+11,29.434906,-95.254405,Alvin,TX,suburban,Alvin Ind School District,...,NaN,NaN,Books,highest poverty,Grades PreK-2,957.15,40.0,f,12/9/12,12/22/12
124947,fff025ce2682430f72e02a7823c1c27b,67f274a673108b021563e4fb172371ea,cccabd230f51c6c97850f093cec4ee08,4.900900e+11,36.998209,-110.175732,Monument Vly,UT,rural,San Juan School District,...,NaN,NaN,Technology,highest poverty,Grades PreK-2,163.68,14.0,f,12/6/13,12/19/13
124948,fff0ce1935052d50a4485bd480db03a6,1533c37c1d202411324cdd2274777580,5af7cc9cc60ec8d4e62c4516f1abf0d5,6.334800e+10,35.349696,-119.162331,Bakersfield,CA,rural,Rosedale Union School District,...,Visual Arts,Music & The Arts,Books,moderate poverty,Grades 3-5,1005.74,65.0,f,10/27/12,12/10/12
124949,fff17ba5f8954c060395735b111edb96,490d0b530daeed042a70a2acc2be1dc7,06c41c32c946457e8545b81dca1ce5c8,3.701920e+11,36.047957,-79.989043,High Point,NC,urban,Guilford Co School District,...,NaN,NaN,Supplies,moderate poverty,Grades 6-8,223.61,14.0,f,10/15/12,12/21/12
124950,fff1cbf1b7b26568ba57bb92992048b9,77c16c5f82bc583d9b13a3404f2daa37,8b819d840292b4c406ef7145b67b522d,3.600120e+11,40.681308,-73.856928,Ozone Park,NY,urban,New York City Dept Of Ed,...,Special Needs,Special Needs,Technology,highest poverty,Grades 3-5,786.40,24.0,f,9/25/12,12/27/12
124951,fff213f5fb0e61d1ea9df3f992d54d6c,b69405d095b441c64c8d41dbbbab83c1,f9c1fe53a81895aa5064308bb537a592,3.701920e+11,36.048576,-79.778015,Greensboro,NC,urban,Guilford Co School District,...,Literature & Writing,Literacy & Language,Technology,highest poverty,Grades 3-5,701.95,22.0,t,8/11/13,10/26/13
124952,fff24308118daa069f765ad2662234a6,855f5bbf58e3fcf59583777027329c6a,3579c9e1a2da2f06c6dd81877cda7054,2.731800e+11,44.036049,-92.484854,Rochester,MN,urban,Rochester School District 535,...,Literature & Writing,Literacy & Language,Supplies,moderate poverty,Grades 9-12,490.66,25.0,f,6/9/13,10/1/13
124953,fff2880da80e1b5443c838599d92e95d,ce2367ccff54254c79a79bf09bcf32ed,fe61be541ea0878c1f718cd936da3aca,3.600090e+11,40.660793,-73.988731,Brooklyn,NY,urban,New York City Dept Of Ed,...,ESL,Literacy & Language,Books,highest poverty,Grades 6-8,395.40,120.0,t,9/14/13,10/25/13
124954,fff2f8b3170013ecf9ee7304c7b0d6d7,d728647826402b266ae8dc0d40914ebd,f3315fbcad5794f7ae6c4f848e488c8c,NaN,40.059349,-82.968307,Columbus,OH,urban,Ohio Department of Education,...,NaN,NaN,Supplies,high poverty,Grades PreK-2,178.41,20.0,f,10/14/12,11/20/12
124955,fff309b22dacd7a37db9cb9ccee1e031,15969f9fd415e45316f5df1e4f6f7114,b25832137d33953fdfbd74616cf1dc94,3.702970e+11,35.107920,-80.886379,Pineville,NC,NaN,Charlotte-mecklenburg Sch Dist,...,NaN,NaN,Supplies,highest poverty,Grades PreK-2,292.01,19.0,f,9/5/12,10/12/12
124956,fff3183fb122c03321ce10b81fda2f55,afdfef895e4033893531858b3b7b93e4,413160e89bb3924066db49f015d12e6a,1.812810e+11,39.770969,-86.276016,Indianapolis,IN,urban,Msd Of Wayne Twp,...,NaN,NaN,Supplies,highest poverty,Grades 3-5,289.45,700.0,t,10/14/12,11/20/12
124957,fff427a481a6ae0da7c79ee3a568a25d,2f4d0c10a6c3b90c1cdf700c1d1e8783,c7ee71e78a89b4537735625abe3df9e2,6.227101e+10,34.039135,-118.211122,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Books,highest poverty,Grades 9-12,859.99,60.0,t,1/28/12,3/5/12
124958,fff43d73c89c9c0fa3455f71f36846af,c3892f47501ebe7560bb47f044cb6c1a,ab38fb6eeb133c593bca3bd17060dfff,6.227101e+10,34.029933,-118.435195,Los Angeles,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Technology,highest poverty,Grades 9-12,560.99,120.0,t,10/2/12,10/25/12
124959,fff4a452b872e91d3953849c26d66762,157dec98e29ea71d21c757c3b5d7807f,67a1d71fa445acf637993c210f67a464,1.303870e+11,32.487823,-84.979007,Columbus,GA,urban,Muscogee Co School District,...,Literacy,Literacy & Language,Other,highest poverty,Grades 9-12,518.05,63.0,t,5/30/12,6/22/12
124960,fff50452c8b57fabd715d5547997d659,a3b0edce360c46d821f3f949c37e0760,47266028aed99d00ce97ee299c89f0bb,6.227101e+10,34.200943,-118.530552,Reseda,CA,urban,Los Angeles Unif Sch Dist,...,NaN,NaN,Technology,highest poverty,Grades 9-12,757.47,40.0,t,8/28/12,9/5/12
124961,fff5d11155a3d8e8c56a41fb2e79912c,442cff1ac9ba42e5dfcbbe3d924f4c07,f2e2d501f9ee2a961d1485e02019d148,5.509600e+11,43.125865,-87.955918,Milwaukee,WI,urban,Milwaukee Public Schools,...,NaN,NaN,Supplies,highest poverty,Grades PreK-2,191.18,18.0,t,8/12/12,9/6/12
124962,fff5fd6f1a382a7a9ceff838f35212e1,987a7ad70c7f28fb06e969a3a3bfbb08,fa17c1ab6a40fcabbf1514163ae1c910,6.280501e+10,37.742393,-122.168290,Oakland,CA,urban,Oakland Unified School Dist,...,Literacy,Literacy & Language,Books,highest poverty,Grades PreK-2,208.46,22.0,t,4/3/12,4/13/12
124963,fff8e52c5aac56e34c4d4eb5aa443c5d,9ed92b421feff227841dbe235da3a09c,77c73843c1a82cead04006069163dded,5.005310e+11,44.545620,-71.984150,Lyndonville,VT,rural,Caledonia North Su 8,...,Literature & Writing,Literacy & Language,Books,high poverty,Grades 3-5,386.46,27.0,f,12/12/12,1/1/13
124964,fff8ea691f0be0e4ed486690eb56c14f,c530d7baec513b17570c7ea40df638e9,2dc015358468c294b523cf18aeac6669,2.926160e+11,36.729577,-93.385154,Reeds Spring,MO,rural,Reeds Spring School Dist R4,...,Early Development,Applied Learning,Supplies,high poverty,Grades PreK-2,409.87,7.0,f,4/28/13,6/14/13
124965,fffa75021cdd838e658b331847c78ad2,bd202f86ad86ba83875f754e7ff89964,6b1ea7aa5d39c00b9a260f60d9a35e86,1.602100e+11,43.648253,-116.347880,Boise,ID,urban,Meridian Joint School Dist 2,...,Early Development,Applied Learning,Technology,moderate poverty,Grades PreK-2,1923.87,20.0,f,12/10/13,12/22/13
124966,fffb88aa251449f1ba0b31d5552426b0,68a125f470e30903664d0e70e406d2b7,12629360afe5266b7e171f3cf57af5ec,6.344101e+10,37.725403,-122.430496,San Francisco,CA,urban,San Francisco Unified Sch Dist,...,NaN,NaN,Supplies,highest poverty,Grades 3-5,1018.24,510.0,f,2/17/12,4/12/12
124967,fffbc23d5c2ece64168af350ab9f6cad,4f23071c37c4aa0a96ea4ff336138c61,df83213f7800d05086a121ab1730b545,6.306601e+10,33.885330,-117.761117,Yorba Linda,CA,suburban,Placentia Yorba Linda Usd,...,NaN,NaN,Technology,low poverty,Grades 6-8,1003.81,738.0,f,10/13/13,1/16/14
124968,fffc3632fd681fde1113eae31ca027d4,f52c695357488ae6e499cae04eb28802,3bca24ea3f5077ad0d0b86d979b3a6cf,4.807710e+11,29.909552,-95.360931,Houston,TX,suburban,Aldine Ind School District,...,NaN,NaN,Books,highest poverty,Grades PreK-2,331.56,24.0,f,10/31/12,1/5/13
124969,fffc5f77d0ba9fb9b9510582caa30bdd,2580b6b605b2d3667cfce00b87ce47f9,3870254e36f88935745384ebc06a4caf,1.300120e+11,33.752884,-84.342140,Atlanta,GA,urban,Atlanta Public Schools,...,Literacy,Literacy & Language,Technology,highest poverty,Grades 3-5,798.26,20.0,f,12/25/13,4/7/14
124970,fffcab52aff6aec5843afafe919d4a06,64ec2ab31709511cce9d4b344eed4ef0,ce225b42cd7d04da6fc8d47815dce5fc,5.100270e+11,38.838849,-77.097328,Arlington,VA,urban,Arlington Public Schools,...,NaN,NaN,Books,high poverty,Grades PreK-2,717.96,24.0,f,2/10/13,6/10/13
124971,fffcfa4388e8ac482c44734bffa891c8,18b4c1437decf26b5f2c92b071962f82,212357c91e4f9db903e37691b80f1e46,3.600150e+11,40.615929,-73.912835,Brooklyn,NY,urban,New York City Dept Of Ed,...,Character Education,Applied Learning,Supplies,high poverty,Grades 3-5,990.99,32.0,t,6/24/12,7/30/12
124972,fffda9a35e156656df0a2e2c7091e9cf,9cc41ef1d42c253bde0866d2c490a6db,4e3fa7096549dae8b2c92cadd536b5f8,4.823640e+11,29.821455,-95.399082,Houston,TX,urban,Houston Ind School District,...,Visual Arts,Music & The Arts,Technology,high poverty,Grades 9-12,873.32,156.0,t,10/20/13,12/15/13
124973,fffe0bb8af3b9cd93046b49653cc923a,820b80005bdffb74fe85e4deb11c5a07,bb477994115ad6275e95623e927c040e,3.416290e+11,40.231834,-74.777481,Trenton,NJ,urban,Trenton School District,...,NaN,NaN,Books,highest poverty,Grades 3-5,184.05,20.0,f,9/2/12,10/17/12
124974,fffe45b28ea6f2889de1e3f797fb31a3,defe5366f82c80715343e58cf95bd2ac,10a9c48f27d12ef702f27547db13a19b,8.069000e+10,39.875904,-105.031563,Westminster,CO,suburban,Adams 12 Five Star Schools,...,Performing Arts,Music & The Arts,Other,highest poverty,Grades 3-5,345.84,500.0,f,1/14/12,1/29/12
124975,fffeebf4827d745aa36b17c2d38d1966,96c1a33b4f2b832595c3c6a01bc24c05,7bb6b1924a7bd181ab5568b062260966,6.346201e+10,38.654224,-121.308122,Fair Oaks,CA,suburban,San Juan Unified School Dist,...,NaN,NaN,Other,highest poverty,Grades 6-8,938.00,11.0,f,12/1/12,1/17/13

### Exploring the dataframe

* Column types

In [3]:
pipeline.columns_types(df)

projectid                                  object
teacher_acctid                             object
schoolid                                   object
school_ncesid                             float64
school_latitude                           float64
school_longitude                          float64
school_city                                object
school_state                               object
school_metro                               object
school_district                            object
school_county                              object
school_charter                             object
school_magnet                              object
teacher_prefix                             object
primary_focus_subject                      object
primary_focus_area                         object
secondary_focus_subject                    object
secondary_focus_area                       object
resource_type                              object
poverty_level                              object
grade_level                                object
total_price_including_optional_support    float64
students_reached                          float64
eligible_double_your_impact_match          object
date_posted                                object
datefullyfunded                            object
dtype: object

Most of our data is discrete, with a few exceptions.

* Number of observations

In [4]:
pipeline.count_obs(df)

124976

This number is long enough for generating supervised learning models.

* Counting duplicates for all variables

In [5]:
pipeline.duplicates(df)

0

Good, no duplicated observations.

* Counting duplicates -- project ID

In [6]:
pipeline.duplicates_in_columns(df, ['projectid'])

0

No duplicates in project ID.

* Missing values

In [7]:
pipeline.count_missings(df)

projectid has 0.0 % of missing data points
teacher_acctid has 0.0 % of missing data points
schoolid has 0.0 % of missing data points
school_ncesid has 7.38781846114454 % of missing data points
school_latitude has 0.0 % of missing data points
school_longitude has 0.0 % of missing data points
school_city has 0.0 % of missing data points
school_state has 0.0 % of missing data points
school_metro has 12.181538855460248 % of missing data points
school_district has 0.1376264242734605 % of missing data points
school_county has 0.0 % of missing data points
school_charter has 0.0 % of missing data points
school_magnet has 0.0 % of missing data points
teacher_prefix has 0.0 % of missing data points
primary_focus_subject has 0.012002304442452951 % of missing data points
primary_focus_area has 0.012002304442452951 % of missing data points
secondary_focus_subject has 32.45103059787479 % of missing data points
secondary_focus_area has 32.45103059787479 % of missing data points
resource_type has 0.013602611701446677 % of missing data points
poverty_level has 0.0 % of missing data points
grade_level has 0.0024004608884905902 % of missing data points
total_price_including_optional_support has 0.0 % of missing data points
students_reached has 0.047209064140314935 % of missing data points
eligible_double_your_impact_match has 0.0 % of missing data points
date_posted has 0.0 % of missing data points
datefullyfunded has 0.0 % of missing data points

We see some missing values in some of the variables we could use as features. Here is how we'll treat them:

1. We'll leave out of the analysis the variable `school_ncesid`. It is a school ID and we won't need it to train/test our algorithm.
2. We'll also leave out `school_metro` and `school_district`. Being discrete school administration/location variables, their information is probable very correlated with other variables, such as `school_city` and `school_county`.
3. We'll assume that the missings in `primary_focus_subject`, `primary_focus_area`, `secondary_focus_subject`,  `secondary_focus_area`, `resource_type` and `grade_level` are actually conveying some information. Thus, we'll impute the label 'None' in these missing values.
4. Finally, in `students_reached` we'll impute the median. Notice that this variable in continuous.

Also, it's important to note that the variables we'll use to generate our label and the train/test splits don't have missing values (`date_posted`, `datefullyfunded`).

* Checking some basic statistics:

In [8]:
pipeline.describe(df)

count                               124976
unique                              124976
top       dfa67454cd54e81834688f15a6d4c239
freq                                     1
Name: projectid, dtype: object
count                               124976
unique                               77013
top       214acf23d183dfa2f1dc16e7b3658320
freq                                    63
Name: teacher_acctid, dtype: object
count                               124976
unique                               29947
top       10179fd362d7b8cf0e89baa1ca3025bb
freq                                   193
Name: schoolid, dtype: object
count    1.157430e+05
mean     2.448448e+11
std      1.644728e+11
min      1.000050e+10
25%      6.344101e+10
50%      2.200870e+11
75%      3.704880e+11
max      6.100010e+11
Name: school_ncesid, dtype: float64
count    124976.000000
mean         36.827284
std           4.963669
min          18.249140
25%          33.872504
50%          36.617410
75%          40.676156
max          65.672562
Name: school_latitude, dtype: float64
count    124976.000000
mean        -95.859299
std          18.392876
min        -171.690554
25%        -117.806418
50%         -90.101563
75%         -80.713740
max         -66.628036
Name: school_longitude, dtype: float64
count          124976
unique           5955
top       Los Angeles
freq             5747
Name: school_city, dtype: object
count     124976
unique        51
top           CA
freq       29227
Name: school_state, dtype: object
count     109752
unique         3
top        urban
freq       62267
Name: school_metro, dtype: object
count                        124804
unique                         5970
top       Los Angeles Unif Sch Dist
freq                          10867
Name: school_district, dtype: object
count          124976
unique           1470
top       Los Angeles
freq            13037
Name: school_county, dtype: object
count     124976
unique         2
top            f
freq      113340
Name: school_charter, dtype: object
count     124976
unique         2
top            f
freq      114273
Name: school_magnet, dtype: object
count     124976
unique         4
top         Mrs.
freq       60190
Name: teacher_prefix, dtype: object
count       124961
unique          27
top       Literacy
freq         37408
Name: primary_focus_subject, dtype: object
count                  124961
unique                      7
top       Literacy & Language
freq                    56051
Name: primary_focus_area, dtype: object
count        84420
unique          27
top       Literacy
freq         12598
Name: secondary_focus_subject, dtype: object
count                   84420
unique                      7
top       Literacy & Language
freq                    30056
Name: secondary_focus_area, dtype: object
count         124959
unique             6
top       Technology
freq           45886
Name: resource_type, dtype: object
count              124976
unique                  4
top       highest poverty
freq                67752
Name: poverty_level, dtype: object
count            124973
unique                4
top       Grades PreK-2
freq              47730
Name: grade_level, dtype: object
count    124976.000000
mean        654.011811
std        1098.015854
min          92.000000
25%         345.810000
50%         510.500000
75%         752.960000
max      164382.840000
Name: total_price_including_optional_support, dtype: float64
count    124917.000000
mean         95.445760
std         163.481912
min           1.000000
25%          23.000000
50%          30.000000
75%         100.000000
max       12143.000000
Name: students_reached, dtype: float64
count     124976
unique         2
top            f
freq       87887
Name: eligible_double_your_impact_match, dtype: object
count      124976
unique        731
top       9/30/12
freq          728
Name: date_posted, dtype: object
count       124976
unique         845
top       10/25/13
freq           341
Name: datefullyfunded, dtype: object

We can see the following, for our subsequent data preparation:

Identifier variables:

* `project_id`
* `teacher_acctid`
* `schoolid`
* `school_ncesid`

Discrete variables:
 
* `school_magnet`
* `school_charter`
* `eligible_double_your_impact_match`
 
Categorical variables:
 
* `school_city`
* `school_state`
* `school_metro`
* `school_district`
* `school_county`
* `school_charter`
* `teacher_prefix`
* `primary_focus_subject`
* `primary_focus_area`
* `secondary_focus_subject`
* `secondary_focus_area`
* `resource_type`
* `poverty_level`
* `grade_level`

Continuous variables:
 
* `school_latitude`
* `school_longitude`
* `total_price_including_optional_support`
* `students_reached`

Date variables:

* `date_posted`
* `datefullyfunded`

### Preparing the dataframes

Here's what we'll do:

1. Transform date features into date types
2. Add dummies for each value of every categorical variable
3. Generate the label attribute
4. Generate the train/test sets
5. Discretize categorical variables and impute missing values in each train/test set
6. Define the columns we'll use as features

So:

1. Transforming date features into date types:

In [ ]:
date_vars = ['date_posted', 'datefullyfunded']
for col in date_vars:
    pipeline.to_date(df, col)

2. Adding dummies for each value of every categorical variable

* Replacing missing values with the label 'None':

In [ ]:
none_label_cols = ['primary_focus_subject', 'primary_focus_area', 'secondary_focus_subject', 'secondary_focus_area', \
                   'resource_type', 'grade_level']
for col in none_label_cols:
    pipeline.fill_nas_other(df, col, 'None')

* Now we generate the dummies

In [ ]:
categorical = ['school_state', 'school_metro', 'teacher_prefix', 'primary_focus_area', \
               'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level']
for col in categorical:
    pipeline.create_dummies(df, col)

3. Generating the label attribute -- notice that we want to predict if a project will not get funding within the first 60 days of having being posted.

In [ ]:
days = 60
pipeline.create_time_label(df, 'date_posted', 'datefullyfunded', days)
df[date_vars + ['label']]

       date_posted datefullyfunded  label
0       2013-04-14      2013-05-02      0
1       2012-04-07      2012-04-18      0
2       2012-01-30      2012-04-15      1
3       2012-10-11      2012-12-05      0
4       2013-01-08      2013-03-25      1
5       2012-11-30      2013-02-26      1
6       2013-03-26      2013-04-17      0
7       2013-02-28      2013-03-10      0
8       2013-08-21      2013-09-13      0
9       2012-10-03      2012-11-03      0
10      2013-07-29      2013-11-26      1
11      2013-06-22      2013-10-17      1
12      2013-01-22      2013-02-28      0
13      2013-10-27      2013-11-29      0
14      2013-05-28      2013-09-06      1
15      2012-12-09      2013-01-22      0
16      2012-01-26      2012-05-17      1
17      2013-01-15      2013-03-11      0
18      2012-01-23      2012-02-20      0
19      2012-12-22      2013-01-12      0
20      2012-12-18      2013-01-06      0
21      2013-09-04      2013-10-27      0
22      2013-12-10      2014-04-02      1
23      2012-04-29      2012-07-16      1
24      2013-11-19      2013-12-19      0
25      2012-03-31      2012-07-27      1
26      2012-05-30      2012-08-05      1
27      2012-01-21      2012-03-01      0
28      2012-08-07      2012-09-19      0
29      2013-09-22      2013-12-05      1
...            ...             ...    ...
124946  2012-12-09      2012-12-22      0
124947  2013-12-06      2013-12-19      0
124948  2012-10-27      2012-12-10      0
124949  2012-10-15      2012-12-21      1
124950  2012-09-25      2012-12-27      1
124951  2013-08-11      2013-10-26      1
124952  2013-06-09      2013-10-01      1
124953  2013-09-14      2013-10-25      0
124954  2012-10-14      2012-11-20      0
124955  2012-09-05      2012-10-12      0
124956  2012-10-14      2012-11-20      0
124957  2012-01-28      2012-03-05      0
124958  2012-10-02      2012-10-25      0
124959  2012-05-30      2012-06-22      0
124960  2012-08-28      2012-09-05      0
124961  2012-08-12      2012-09-06      0
124962  2012-04-03      2012-04-13      0
124963  2012-12-12      2013-01-01      0
124964  2013-04-28      2013-06-14      0
124965  2013-12-10      2013-12-22      0
124966  2012-02-17      2012-04-12      0
124967  2013-10-13      2014-01-16      1
124968  2012-10-31      2013-01-05      1
124969  2013-12-25      2014-04-07      1
124970  2013-02-10      2013-06-10      1
124971  2012-06-24      2012-07-30      0
124972  2013-10-20      2013-12-15      0
124973  2012-09-02      2012-10-17      0
124974  2012-01-14      2012-01-29      0
124975  2012-12-01      2013-01-17      0

[124976 rows x 3 columns]

4. Generating the train/test sets. We also store them in a dictionary we'll use for generating the evaluation table.

In [ ]:
months = 6
time_feature = 'date_posted'
threshold1 = '06/30/2012'
threshold2 = '12/31/2012'
threshold3 = '06/30/2013'

print('\nHoldout 1')
df_train1, df_test1 = pipeline.time_based_split(df, time_feature, threshold1, days, months)
print('\nHoldout 2')
df_train2, df_test2 = pipeline.time_based_split(df, time_feature, threshold2, days, months)
print('\nHoldout 3')
df_train3, df_test3 = pipeline.time_based_split(df, time_feature, threshold3, days, months)

sets = [df_train1, df_train2, df_train3, df_test1, df_test2, df_test3]

Holdout 1
train upper threshold: 2012-05-01 00:00:00
Notice that we leave a gap of 60 days
test lower threshold: 2012-06-30 00:00:00
test upper threshold: 2012-12-30 00:00:00

Holdout 2
train upper threshold: 2012-11-01 00:00:00
Notice that we leave a gap of 60 days
test lower threshold: 2012-12-31 00:00:00
test upper threshold: 2013-06-30 00:00:00

Holdout 3
train upper threshold: 2013-05-01 00:00:00
Notice that we leave a gap of 60 days
test lower threshold: 2013-06-30 00:00:00
test upper threshold: 2013-12-30 00:00:00

5. Discretizing categorical variables and imputing missing values in each train/test set

* Replacing missing values with the median:

In [ ]:
median_cols = ['students_reached']
for dataset in sets:
    for col in median_cols:
        pipeline.fill_nas_median(dataset, col)

* Transforming discrete variables into 0/1:

In [ ]:
discrete_vars = ['school_magnet', 'school_charter', 'eligible_double_your_impact_match']
for dataset in sets:
    for col in discrete_vars:
        pipeline.discrete_0_1(dataset, col, 'f', 't')

* Creating dummies for each quartile of the continuous variables we'll use as features: (notice that we won't use `students_reached` as a feature because according to the [data dictionary](https://www.kaggle.com/c/kdd-cup-2014-predicting-excitement-at-donors-choose/data) that variable is available after a project is funded)

In [ ]:
continuous = ['total_price_including_optional_support']
for dataset in sets:
    for col in continuous:
        pipeline.discretize(dataset, col)
        pipeline.create_dummies(dataset, col + '_quartile')

5. Defining the columns we'll use as features and our datasets dictionary:

In [ ]:
features = ['school_charter', 'school_magnet', 'eligible_double_your_impact_match', 'school_state_IL', \
            'school_state_CA', 'school_state_NY', 'school_state_MI', 'school_state_AZ', 'school_state_ME', \
            'school_state_MO', 'school_state_FL', 'school_state_KY', 'school_state_GA', 'school_state_TX', \
            'school_state_IN', 'school_state_NC', 'school_state_SC', 'school_state_CT', 'school_state_OH', \
            'school_state_MN', 'school_state_WV', 'school_state_WA', 'school_state_TN', 'school_state_OK', \
            'school_state_DC', 'school_state_MD', 'school_state_MS', 'school_state_ID', 'school_state_MA', \
            'school_state_IA', 'school_state_AK', 'school_state_WI', 'school_state_NV', 'school_state_LA', \
            'school_state_NE', 'school_state_CO', 'school_state_KS', 'school_state_OR', 'school_state_VA', \
            'school_state_PA', 'school_state_NJ', 'school_state_SD', 'school_state_MT', 'school_state_NH', \
            'school_state_AR', 'school_state_UT', 'school_state_WY', 'school_state_ND', 'school_state_HI', \
            'school_state_AL', 'school_state_RI', 'school_state_DE', 'school_state_NM', 'school_state_VT', \
            'school_metro_urban', 'school_metro_suburban', 'school_metro_rural', 'school_metro_nan', \
            'teacher_prefix_Mrs.', 'teacher_prefix_Ms.', 'teacher_prefix_Mr.', 'teacher_prefix_Dr.', \
            'primary_focus_area_Math & Science', 'primary_focus_area_History & Civics', \
            'primary_focus_area_Literacy & Language', 'primary_focus_area_Applied Learning', \
            'primary_focus_area_Music & The Arts', 'primary_focus_area_Health & Sports', \
            'primary_focus_area_Special Needs', 'primary_focus_area_None', 'secondary_focus_area_Music & The Arts', \
            'secondary_focus_area_Literacy & Language', 'secondary_focus_area_History & Civics', \
            'secondary_focus_area_None', 'secondary_focus_area_Health & Sports', \
            'secondary_focus_area_Math & Science', 'secondary_focus_area_Special Needs', \
            'secondary_focus_area_Applied Learning', 'resource_type_Supplies', 'resource_type_Books', \
            'resource_type_Technology', 'resource_type_Other', 'resource_type_Trips', 'resource_type_Visitors', \
            'resource_type_None', 'grade_level_None', 'poverty_level_highest poverty', 'poverty_level_high poverty', \
            'poverty_level_low poverty', 'poverty_level_moderate poverty', 'grade_level_Grades PreK-2', \
            'grade_level_Grades 3-5', 'grade_level_Grades 9-12', 'grade_level_Grades 6-8', \
            'total_price_including_optional_support_quartile_4.0', \
            'total_price_including_optional_support_quartile_1.0', \
            'total_price_including_optional_support_quartile_2.0', \
            'total_price_including_optional_support_quartile_3.0']
label = 'label'
datasets = {'Holdout 1: ' + threshold1: [df_train1, df_test2],
            'Holdout 2: ' + threshold2: [df_train2, df_test2],
            'Holdout 3: ' + threshold3: [df_train3, df_test3]}

### Generating the evaluation table

We'll use two global variables in our pipeline script where we have defined a dictionary of classifiers and a dictionary of parameters we could use (`pipeline.CLASSIFIERS` and `pipeline.PARAMETERS`), but notice that the `evaluation_table` function can also be used with any dictionary of classifiers and parameters.

In [ ]:
fractions = [0.01, 0.02, 0.05, 0.1, 0.2, 0.3, 0.5]

In [ ]:
table = pipeline.evaluation_table(pipeline.CLASSIFIERS, pipeline.PARAMETERS, datasets, fractions, features, label)

Predicting every data point's value to be 0, the accuracy is 68.5 %

Running model 1 from 350
Progress: 0.29 %

Running model 2 from 350
Progress: 0.57 %

Running model 3 from 350
Progress: 0.86 %

Running model 4 from 350
Progress: 1.14 %

Running model 5 from 350
Progress: 1.43 %

Running model 6 from 350
Progress: 1.71 %

Running model 7 from 350
Progress: 2.0 %

Running model 8 from 350
Progress: 2.29 %

Running model 9 from 350
Progress: 2.57 %

Running model 10 from 350
Progress: 2.86 %

Running model 11 from 350
Progress: 3.14 %

Running model 12 from 350
Progress: 3.43 %

In [ ]:
table